<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>Cadastro de Pessoas</span>
      <div class="toolbar-button">
        <button color="primary" stickEnd mat-flat-button (click)="logout()" class="button-end">Logout</button>
        <a stickEnd color="primary" mat-flat-button class="button-end" target="_blank" href="http://localhost:8080/swagger-ui/index.html">Swagger</a>
        <a stickEnd color="primary" mat-flat-button class="button-end" target="_blank" href="http://localhost:8080/source">Source</a>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
