.row {
  display: flex;
  margin-bottom: 10px;
  flex-flow: row wrap;
  padding: 10px;
}

.col {
  flex: 1;
  margin-right: 20px;
  flex-direction: column;
  padding: 10px;
}

.col:last-child {
  margin-right: 0;
}

.full-width {
  width: 100%;
}

.field-width {
  min-width: 50%;
  max-width: 100%;
}

.form {
  padding-bottom: 50px;
}
